@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', Arial, sans-serif;
  text-rendering: optimizelegibility;
  word-spacing: 1px;
  @apply h-screen;
  @apply text-base;
  @apply antialiased;
  @apply font-normal;

  &:not(.dark) {
    transition: all 0.2s ease;
    @apply bg-gray-100;
    @apply text-gray-700;
    .link-active {
      @apply text-red-600;
    }
    .title {
      @apply text-red-600;
    }
    progress {
      @apply align-middle;
    }
  }
  &.dark {
    transition: all 0.2s ease;
    @apply bg-gray-900;
    @apply text-gray-500;
    .link-active {
      @apply text-purple-600;
    }
    .title {
      @apply text-purple-600;
    }
    progress {
      @apply align-middle;
    }
  }

  &.dark ::selection {
    @apply bg-purple-500 text-white;
  }

  &:not(.dark) ::selection {
    @apply bg-red-500 text-white;
  }
}

h1,
h2 {
  @apply tracking-wider;
}
